*{
    padding: 0px;
    margin: 0px;
}
body{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Abel', sans-serif;
    color:#FFF;
    background-image: linear-gradient(to bottom, #13547a, #80d0c7);
}
.location,
.temperature{

    height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation-name: introduction;
    animation-duration: 2s;
}

.temperature{
    flex-direction: column
}

.degree-section{
    display: flex;align-items: center;cursor: pointer;
}
.degree-section span{margin:10px;font-size: 30px;}

.degree-section h2{font-size: 40px;}
